<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}">
<head>
    <meta charset="UTF-8">
    <title>Administrar cursos</title>
</head>
<body>

<div class="container mt-5" layout:fragment="contenido_dinamico">

    <h3>Administrar cursos</h3>

    <div class="text-end">
        <a href="/admin/cursos/nuevo" class="btn btn-primary">
            Nuevo curso
        </a>
    </div>

    <form action="" class="my-3">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="input-group">
                    <input type="search" name="titulo" class="form-control" placeholder="Buscar curso por nombre"
                           th:value="${param.titulo}">
                    <button class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </form>

    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>TITULO</th>
            <th>PRECIO</th>
            <th>FECHA CREACION</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="curso : ${cursos}" th:object="${curso}">
            <td>

                <a th:href="@{/media/{rutaImagen}(rutaImagen=*{rutaImagen})}" data-fancybox>

                    <img th:src="@{/media/{rutaImagen}(rutaImagen=*{rutaImagen})}"
                         th:if="*{rutaImagen ne null}"
                         alt=""
                         width="120"
                         class="img-thumbnail">
                </a>

            </td>
            <td>
                <div th:text="*{titulo}" class="fw-bold"></div>
                <p class="small" th:text="*{descripcion}">
                </p>
            </td>
            <td>
                $[[*{#numbers.formatDecimal(precio, 1, 'COMMA', 2, 'POINT')}]]
            </td>
            <td>
                [[*{#temporals.format(fechaCreacion, 'dd/MM/yyyy hh:mm a')}]]
            </td>
            <td class="text-end">

                <div class="btn-group btn-group-sm">
                    <a th:href="@{/admin/cursos/{id}/editar(id=*{id})}" class="btn btn-primary" title="Editar curso">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a onclick="eliminarCurso(this)" href="#" class="btn btn-danger" title="Eliminar curso">
                        <i class="fa fa-trash"></i>
                    </a>
                    <form th:action="@{/admin/cursos/{id}/eliminar(id=*{id})}" method="post" class="d-none"></form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <nav>
            <div sd:pagination-summary="">info</div>

            <ul class="pagination mt-3" sd:pagination="full">
            </ul>
        </nav>
    </div>

</div>

<div layout:fragment="scripts">
    <script>
        function eliminarCurso(elem) {
            var ok = confirm('¿Está seguro de eliminar el curso?');

            if (ok) {
                elem.nextElementSibling.submit();
            }
        }


    </script>
</div>

</body>
</html>