<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Todos los cursos</title>
</head>
<body>

<div layout:fragment="contenido_dinamico">
    <h3 class="text-primary">Todos los cursos</h3>

    <div class="row mt-5">
        <div th:each="curso : ${cursos}" th:object="${curso}" class="col-md-4 col-lg-3 mb-3">
            <div class="card shadow h-100">
                <img th:src="@{/media/{rutaImagen}(rutaImagen=*{rutaImagen})}" class="card-img-top"
                     th:alt="*{titulo}">
                <div class="card-body">
                    <h5 class="card-title">[[*{titulo}]]</h5>
                    <div class="card-text">
                        <div>
                            [[*{descripcion}]]
                        </div>
                        <div class="my-3 text-danger fw-bold">
                            $[[*{#numbers.formatDecimal(precio, 1,'COMMA',2,'POINT')}]]
                        </div>
                    </div>

                    <div class="d-grid">
                        <a th:href="@{/cursos/{id}(id=*{id})}" class="btn btn-primary">
                            Ver detalles
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <nav>
                <div sd:pagination-summary="">info</div>

                <ul class="pagination mt-3" sd:pagination="full">
                </ul>
            </nav>
        </div>

    </div>

</div>



</body>
</html>